@import '../../utils/on-hover';

.btn {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: map-get($spacers, 1) map-get($spacers, 2);
  border-radius: map-get($rounded, 'lg');

  &__icon {
    border-radius: map-get($rounded, 'circle');
    padding: map-get($spacers, 2);
  }

  &:hover {
    cursor: pointer;
    &::after {
      @include on-hover
    }
  }
}