.v-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  margin-bottom: map-get($spacers, 2);
  display: flex;
  align-items: center;
  gap: map-get($spacers, 2);
}

.v-input-label {
  display: block;
  margin-bottom: map-get($spacers, 1);
}

.v-input-content {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: map-get($rounded, 'lg');
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &::placeholder {
    opacity: 0.4;
  }

  &:focus {
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
}
